[2014-12-26 08:24] sheymann opened #2 "Bower install"
Hello,

It would be great if you publish the module on bower to provide updates easily. What do you think about it?

[2015-01-04 18:36] Templarian commented on #2
`bower install angular-bootstrap-contextmenu`

Sorry for the length, I wanted to keep it consistent with other plugins so people know it is Angular UI and not a bootstrap plugin.

[2015-01-04 18:36] #2 closed

[2015-02-09 12:26] nobalmohan opened #3 "directive rename"
If I rename the directive from "contextMenu" too something else, I get "undefined anonymous function" error during $apply ?

[2015-02-10 02:47] Templarian commented on #3
https://github.com/Templarian/ui.bootstrap.contextMenu/blob/master/contextMenu.js#L68

Did you rename the attribute on line 68?

[2015-02-10 06:03] nobalmohan commented on #3
oops. I missed that one. Works fine !

[2015-02-10 06:04] Templarian commented on #3
Cool! :smile:

[2015-02-10 06:04] #3 closed

[2015-02-10 06:06] nobalmohan opened #4 "Feature: Menu position offset"
In SPA with fixed height, there should be an option to position the menu via CSS class or by JS.

             if( event.pageY > 360 ) {
                 popupPosition = (event.pageY - 250) + 'px';
             }else {
                 popupPosition = event.pageY + 'px';
             }

             $ul.css({
                 display: 'block',
                 position: 'absolute',

[2015-02-10 06:23] Templarian commented on #4
Maybe something more along the lines of an anchor ability.

[code]

Where `contextMenuAnchor` can be:

[code]

Would be a nice idea to have in the future.

[2015-02-10 06:30] nobalmohan commented on #4
Yup. Something like this http://angular-ui.github.io/bootstrap/#/popover

[2015-02-10 06:36] Templarian commented on #4
Yep. Now we wait for someone to make a pull request, or me to get bored enough to code it. :smile_cat:

[2015-02-10 13:39] nobalmohan commented on #4
Give me the spec on how to do it. I will make a PR

On Tue, Feb 10, 2015 at 12:06 PM, Austin Andrews <notifications@github.com>
wrote:

--
Thanks,
Nobal

nobal.in |  @NobalMohan <https://twitter.com/NobalMohan>

[2015-02-11 06:42] nobalmohan commented on #4
There are two use-case here: 1. Positioning of the pop-up 2. Making it
fluid with respect to view port

On Tue, Feb 10, 2015 at 7:09 PM, Nobal Mohan <nobal20@gmail.com> wrote:

--
Thanks,
Nobal

nobal.in |  @NobalMohan <https://twitter.com/NobalMohan>

[2015-02-11 06:44] Templarian commented on #4
Correct. I'm working on client work tonight (will type out a spec of what it should look like/features) tomorrow. :sweat_smile:

[2015-02-12 23:38] solival opened #5 "Feature: allow html in menu item"
Thanks for simple yet very convenient context menu solution.
Recently used it in my project and found that only plain text is allowed in menu titles. This is quite limiting when user wants to add some icons like <\i class="fa fa-check-square"><\/i>  from FontAwesome package or mark some menu item as bold, italic, or underline.
I'd like to propose change contextMenu.js:25 'text' to 'html':
--- $a.t

[2015-02-13 03:27] Templarian commented on #5
Awesome, I'll look into getting this integrated this weekend. I'm going to say, it probably will not work the way you suggested for security reasons, but it may be similar. :smile:

[2015-02-14 07:18] Templarian commented on #5
I started to code this in, but I'm thinking it might be more ideal to implement this along with custom templates. So I'm going to hold off. For now your workaround is good for your use case.

[code]

[code]

[2015-02-14 07:44] Templarian commented on #4
So basically it will support the following locations...

![contextmenu-right-click](https://cloud.githubusercontent.com/assets/338885/6198966/33357f3e-b3ea-11e4-8159-286af183c1ca.png)

I'm not 100% sure the best way to implement this. Basically:

1. Render the full context menu.
2. Get the `width` and `height` of the context menu.
3. Calculate `screen.height` - `cursorPosition.y` + `contextMenu.he

[2015-02-16 02:55] solival commented on #5
Ok great! Thank you!

[2015-02-19 11:41] nobalmohan commented on #4
Thankns. This snippet will be helpful
https://github.com/angular-ui-tree/angular-ui-tree/blob/master/source/directives/uiTreeNode.js#L168

On Sat, Feb 14, 2015 at 1:14 PM, Austin Andrews <notifications@github.com>
wrote:

--
Thanks,
Nobal

nobal.in |  @NobalMohan <https://twitter.com/NobalMohan>

[2015-03-03 06:07] animsakari opened #6 "HTML Menu Labels"
Nice, light-weight module.  Very clean to use.  It might be nice to be able to embed HTML in the menu labels.  I plan to use this to embed fa icons in my menu for aesthetics.  Seems achievable by changing line 25 to use html() instead of text():
                $a.html(typeof item[0] == 'string' ? item[0] : item[0].call($scope, $scope));

[2015-03-03 06:39] Templarian commented on #6
I don't know why issue #5 was closed. Reopening that and closing this issue. They had proposed the same thing. I'm going to add the ability once templates are added.

[2015-03-03 06:39] #6 closed

[2015-03-03 06:40] Templarian commented on #6
I would rather follow the security model placed in Angular 1.3 rather than simply changing that line or adding a html: true etc...

[2015-03-03 06:42] animsakari opened #7 "Allow context-menu options from function"
Being able to generate menu options dynamically might be useful.  One way to do this would be to allow context-menu to be assigned either an array or a scope function that returned the same type of array.  If the function was passed the menu scope, a developer could make the menu dynamic based on the specific scope and its current state.
Something like... Line 71:
                } else if (typeof

[2015-03-03 06:50] animsakari commented on #6
Excellent.  Sounds like the right way to go.  Thanks.

[2015-03-03 08:09] animsakari commented on #7
Thought about this one some more, and it doesn't make sense.  You can already make the expression whatever you want including a call to a function that returns an array and manually pass in whatever scope, row context, etc. that you want.

[2015-03-03 08:09] #7 closed

[2015-03-22 22:19] igwtsoftware commented on #5
it does not work on tablet. Anyway to add touchstart event?

[2015-03-22 22:22] Templarian commented on #5
@igwtsoftware Please open a new issue.

[2015-03-22 23:07] igwtsoftware opened #9 "ContextMenu not working on touch devices"
Great library!
Any way to add click(touchstart) for touch devices?

Thanks!
JC

[2015-03-22 23:30] Templarian commented on #9
I assume you mean you want the user to hold down and on release it would open the context menu?

I currently don't own any other tablets to try this on. My Surface Pro clicking and holding opens the context menu as expected. I might need a pull request that fixes this.

Context menu's are kind of odd for tablet targeted applications. Do you have an idea of how this should work?

[2015-05-06 15:15] ElephantRose opened #10 ""ReferenceError: $a is not defined" when opening the contextMenu"
Hello,

Firstly thanks for your work.
This is really easy to use.

I have found and error when opening the contextMenu.
with Angular 1.3.8 and jQuery 2.1.3.
tested in chrome 42 and IE 11

The error is thrown in the renderContextMenu on  :
[code]

Changing it to :
[code]
solved the issue for me.

I think there is a variable conflict somewhere in one other directives that I'm using.
To avoid it I su

[2015-05-06 15:30] Templarian commented on #10
https://github.com/Templarian/ui.bootstrap.contextMenu/commit/84f4ebac794f9ec4f2be3af14aa447bb0c154016

I'll need to publish a new version, but the repo is updated.

[2015-05-07 08:30] ElephantRose commented on #10
great !

Thank you

[2015-05-08 19:08] elgs opened #11 "[suggestion] add event hook before menu is shown"
I'm hoping there will be an event hook callback just before the context menu is shown. If the event hook returns true (default), the context menu will be shown normally, otherwise, it will do nothing. What I need to do is to do some item selection things before the context menu is shown. So I think adding an event hook will be helpful.

[2015-05-08 19:19] Templarian commented on #11
Like below?

[code]

[code]

[2015-05-09 04:44] elgs commented on #11
Very close to what I was thinking. May be like this:

[code]
[code]

[2015-05-09 04:49] Templarian commented on #11
Couldn't I just make menuOptions optionally allow a function instead and you simply return an empty array for no context-menu?

[code]

[code]

[2015-05-09 04:55] elgs commented on #11
Well, I have two goals:
1, to have a chance to do something before the menu is shown, that's important to me;
2, to decide to show the menu or not based on which item is right click on, that's just nice to have to me;

Changing `menuOptions` from array to function will perfectly satisfy my first goal, which is important to me. However, it doesn't help with the second goal. So I'm totally ok with c

[2015-05-09 04:58] Templarian commented on #11
Uhh... you can definitely tell which one was clicked.

[code]

[code]

[2015-05-09 04:59] elgs commented on #11
Aha, awesome!

Yes, that will be perfect! Thank you.

[2015-05-09 05:16] Templarian commented on #11
This already works in the current version... I just never documented it.

http://jsfiddle.net/cLfpxp05/

[2015-05-09 05:16] Templarian commented on #11
I'll take a minute and document soon. Ha.

[2015-05-09 05:17] Templarian commented on #11
Oh wait, it doesn't handle 0 items. Fixing that now.

[2015-05-09 05:23] Templarian commented on #11
Okay, fixed. Question, should it show the default context menu or still prevent the context menu?

Example:
http://jsfiddle.net/c6gba904/

[2015-05-09 05:46] Templarian commented on #11
This was added in `v0.9.2`.

[2015-05-09 05:46] #11 closed

[2015-05-09 05:46] Templarian commented on #10
This was added in `v0.9.2`.

[2015-05-09 05:46] #10 closed

[2015-05-09 05:49] elgs commented on #11
Thank you so much for add/documenting this feature. This feature will help me to handle item selection when user right clicks on the items.

I actually have no idea whether to show or prevent the default context menu.

[2015-05-09 05:51] Templarian commented on #11
I've updated the example. Yea, I think just out right preventing always makes more sense since 99% of the time these will be used in list. Showing the default context menu would be very confusing.

[2015-05-09 05:53] elgs commented on #11
Agreed. Thank you @Templarian. I appreciate your your awesome project and fast response to my questions.

[2015-06-02 10:21] vivaladan opened #14 "Have the readme's screenshot and example match the code samples"
I feel it's confusing to see the code samples showing one app, but the referenced screenshot picturing another.

[2015-06-02 10:37] vivaladan opened #15 "Ability to trigger row selection on opening context menu"
It's possibly to manually select an element for the ng-repeat (in the scenario of a table) inside the handler for the context menu item. But this requires the context menu item to be clicked. To better illustrate to the user which row the context menu applies to it would be better to have the row selection happen when the menu opens.

This could potentially happen via configuration by providing a

[2015-06-02 10:39] #15 closed

[2015-06-02 10:40] vivaladan commented on #15
Realised this has already been suggested https://github.com/Templarian/ui.bootstrap.contextMenu/issues/11

[2015-06-02 16:35] Templarian commented on #14
Yea, I was trying to make the code sample more generic, but I do see how having more realistic examples like the demo would make more sense.

I'll take a pull request for this or when I have time update them.

Thanks for opening an issue!

[2015-06-02 16:40] Templarian commented on #15
No problem. Feel free to open issues in the future. It lets me know where the documentation needs to be updated also.

If I get a second I'll update the docs to explain this scenario since it is probably very common.

[2015-06-18 18:48] malamili commented on #5
Great! Looking forward for the Custom Templates feature, for now will use the proposed workaround

[2015-06-18 19:02] malamili opened #16 "Multipe menu's opening in nested div's"
When using nested divs that all show a menu, only the deepest div should 'catch' the contextmenu click. My workaround involves a 'event.stopPropagation();' line at the beginning of the directive.

p.s. great work with the plugin! ;)

[2015-06-18 19:05] Templarian commented on #16
This has already been fixed. I just never updated the bower, npm. I'll close this issue once I update.

https://github.com/Templarian/ui.bootstrap.contextMenu/pull/13

[2015-07-03 07:56] dream20tw commented on #5
I am waiting this feature too. Looking forward it.

[2015-07-06 04:09] Templarian commented on #16
Closed in bower `v0.9.4`.

[2015-07-06 04:09] #16 closed

[2015-08-04 15:14] SeanHub commented on #5
+1 for templates, they sound like a good idea.

[2015-08-24 22:02] wetternest opened #18 "Feature: AMD-package"
an amd-package-version of your directive would be great
(for usage with an amd package manager like require, http://requirejs.org)

[2015-09-02 14:59] walexy opened #22 "Adding a context menu class name to dropdown"
It could be useful to some to target the dropdown by  adding a contextmenu class to $contextMenu.addClass('dropdown clearfix');

Something like $contextMenu.addClass('contextmenu dropdown clearfix');

That way a designer can apply styles to the context menu without affecting other bootstrap dropdowns. Thanks for the the great plugin.

[2015-09-03 07:24] Raghu-G opened #23 "Unable to disable an option"
Hi,
When I try to set an option disabled, I'm unable to do it.
Below is my sample code:
            $scope.menuOptions = function (proc) {
                if (proc.id == 1) {
                    return ['John', 'Joe', [function ($itemScope, $event) {
                                                return $itemScope.proc.name;
                                            }, function ($itemScope, $ev

[2015-09-10 14:23] moravcik opened #24 "Support promises for menu options"
You may hook the item function result with `$q.when()` which will handle plain results or promises in same way, e.g.

[code]

To wait for all promises you may use also `$q.all()`

I need to translate the item text for context menu, and $translate('key') returns a promise by default, but it might be a case for other use cases as well.

[2015-10-02 11:40] lufecir opened #26 "Publish component also to npm"
We are using NPM as dependency manager, also for the front-end libraries. It would be great if angular-bootstrap-contextmenu would also be published to NPM.
Now we have to create a package ourselves for each release and push it to our internal NPM server.

[2015-10-04 04:37] aluanhaddad commented on #26
I would also appreciate this. This would benefit npm users and also jspm users.

[2015-10-10 14:47] SuricateCan commented on #23
@Raghu-G You are doing everything wrong.

The menu options is supposed to be one array, where each menu item is a position inside this array.

That being said, each item is also an array, where the first position is the name of the item (of function with name), the second position is the action when clicked and the third position is a function for enable  disabled.

Your code should look something

[2015-10-10 19:22] Templarian commented on #23
Correct. I'm going to close this issue out.

[2015-10-10 19:22] #23 closed

[2015-10-10 22:22] Templarian commented on #26
I see this issue, not ignoring it, just really busy lately. Will try to get to it next week.

[2015-10-21 12:44] perfumer commented on #9
Not working on iOS devices

[2015-12-29 07:44] lo-co opened #29 "Nested Menus"
Any thoughts on providing support for nested menus such as [this](https://jsfiddle.net/2Smgv/2858/)?

[2015-12-29 18:40] Templarian commented on #29
If you look at the bottom of the page there is a section outlining limitations. I personally haven't had a need yet so I haven't added the feature. I'll definitely take a pull request on the feature if you want to add it. :smile:

https://github.com/Templarian/ui.bootstrap.contextMenu#limitations-work-in-progress

[2015-12-30 23:28] lo-co commented on #29
Will see if I can fold this back in, but it needs work.  I need to add a mechanism that allows multiple nesting (a little odd) and that closes nests if open:
![nested menus](https://cloud.githubusercontent.com/assets/9597736/12059109/fd2bd69e-af11-11e5-948a-71622d27e4f8.png)

The code is a little hacked up (uses the switch ``>`` to open the nest and ``<`` to close it).  Will see if I can clean it

[2016-01-07 09:56] josetaira commented on #29
I've created a pull request for my fix for this at https://github.com/Templarian/ui.bootstrap.contextMenu/pull/30

[2016-01-07 19:09] lo-co opened #31 "What is the function signature for the variable text"
Just a question, but I don't see labels showing up here.  You have the following code where you expect a string for the text in the first argument but account for a function if the type is not a ``string`` (line 25):

[code]

What is the intention of the function for ``item[0]`` (I assume to return a string) and what is this signature?

You have a similar definition below this (line 30):

[code]

[2016-01-07 19:17] Templarian commented on #31
https://github.com/Templarian/ui.bootstrap.contextMenu#menu-options The first code example shows the signature.

Basically it's an array that is overloaded to allow either a `string` or `function` as some people need dynamically named items depending on what they are right clicking.

[code]

Note: as shown in the example `model` is an optional attribute if you need to easily pass in an additional

[2016-01-07 19:20] Templarian commented on #31
Sorry forgot to answer the second part of the question. The 2nd line of code is for enable/disabling of the context menu items. Very useful when right clicking items from a list where some have different abilities.

[2016-01-07 19:25] lo-co commented on #31
OK.  Thanks Austin.  Now for a question born out of my ignorance - why does the example function signature not resemble the called function signature?

[2016-01-07 19:28] Templarian commented on #31
So, in JavaScript the first parameter is actually the function scope or `this`.

[code]

[2016-01-07 19:30] Templarian commented on #31
Oh wait, I think you found a bug... that 2nd param should be...

`item[2].call($scope, $scope, event, model, text)` Hmm... that needs to be fixed.

[2016-01-07 19:34] lo-co commented on #31
Perfect...thanks.

[2016-01-11 21:22] kentingxu commented on #26
We also use `npm` for front-end dependencies. And would appreciate if this is on npm.

[2016-01-12 16:14] StevenRKM opened #32 "$ul[0].width and .offset are not functions"
Seems this is not available in JQlite.
And after some investigation, the version on the codepen demo does it correctly:

    var ev = {
        pageX: event.pageX + $ul[0].offsetWidth - 1,
        pageY: $ul[0].offsetTop + $li[0].offsetTop - 3
    };

While on the master it is this:

    $event.pageX = event.pageX + $ul.width();
    $event.pageY = $li.offset().top - 3;

[2016-01-12 16:26] Templarian commented on #32
Sorry, should have branched, we're doing a lot of updates to support nesting. I have it almost done locally, but didn't push latest. Please use the version from NPM for now, or view the tags.

https://github.com/Templarian/ui.bootstrap.contextMenu/tree/v0.9.4

[2016-01-12 16:27] Templarian commented on #32
My local works with JQlite, so don't worry about that. The pull request that I accepted was written for jQuery.

[2016-01-12 22:46] StevenRKM commented on #32
No prob, just noticed it.
I was also checking it for the nested menus :)
It already works pretty nice!

[2016-01-12 22:56] Templarian commented on #32
Yea, there are a few minor bugs I need to fix in the [demo](http://codepen.io/templarian/pen/VLKZLB), was using that to test out the changes.

[2016-01-13 08:07] Templarian commented on #26
Done for `v0.9.5` with very basic nested context menu support.

`npm install angular-bootstrap-contextmenu`

[2016-01-13 08:07] #26 closed

[2016-01-13 08:07] Templarian commented on #32
This if fixed in `v0.9.5`.

[2016-01-13 08:07] #32 closed

[2016-01-13 08:09] Templarian commented on #29
This has been merged and fixed and docs have been updated. `npm` and `bower` are updated including this as `v0.9.5`.

Thanks @josetaira, couldn't have done it without your help (well could have, but I'm lazy so you rule!).

[2016-01-13 08:09] #29 closed

[2016-01-13 08:15] Templarian commented on #31
Okay, I've fixed this in `v0.9.5`, but I'm not going to document it since I'm not sure exactly the purpose of passing in the text would be. It also gets confusing since `model` is optional.

[2016-01-14 02:14] Templarian commented on #31
`v0.9.6` is out now also. Closing this issue.

[2016-01-14 02:14] #31 closed

[2016-01-14 02:15] Templarian commented on #24
This was merged. If you get `v0.9.5` you'll see this functionality.

[2016-01-14 02:15] #24 closed

[2016-01-14 02:15] #18 closed

[2016-01-15 07:05] jdoan3 opened #34 "Drop Down menu does not open"
I've been having this issue where I am trying to run the contextMenu via the example. I notice that the js works fine, but the dropdown box does not open. Is this because I have bootstrap and bootstrap ui which may be conflicting with the class?

[2016-01-15 07:15] Templarian commented on #34
Maybe, can you edit the codepen demo in the readme to include the library you're including (setting button) and see if the issue persist. If this is a common issue we may need to tweak the context menu.

Link the codepen here once it can be reproduced.

[2016-01-15 10:15] thachp commented on #5
What is the status on this enhancement request?

[2016-01-15 12:37] madmas commented on #4
:+1: this would be very helpful; any progress so far? :)

[2016-01-15 15:38] Templarian commented on #4
Nope. Working on other open source projects at the moment. Now that nested menus are in this would be the next feature to add I think.

Definitely would take a pull request, but I'm probably not going to add this functionality for a while until I need it myself.

[2016-01-15 15:43] jdoan3 commented on #34
So I believe I have found the issue, which was in my main.css in which there was a customization of the dropdown-menu.

 .btn-group:not([data-animation]) .dropdown-menu, .dropdown:not([data-animation]) .dropdown-menu {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;

[2016-01-15 19:55] Templarian commented on #34
Would the ability to rename the context menu class help? Like in #22.

[2016-01-15 21:05] Templarian commented on #5
No progress... will take a pull request. Would be an awesome enhancement, but as I don't have a use for it yet personally, I have never got around to adding it. Mostly wrote up the idea above in the hope someone would get bored and write it in. :smile:

If someone wants to code in the really basic support for the following syntax I would accept the pull request. Just check for an object for the fi

[2016-01-15 21:45] jdoan3 commented on #34
I believe it had to deal with data-animations which caused this style to hit. Anyways I was able to resolve this.

Thanks though,

[2016-01-15 21:45] #34 closed

[2016-01-16 06:03] thachp commented on #5
@Templarian - Okay will do.  I will contribute to this request.

[2016-01-16 10:44] madmas commented on #4
Here it is :-) Didn't look at submenues for the first version ;)

[2016-01-16 17:24] Templarian commented on #4
Looks awesome. I'm going to leave this issue opened to track the progress for nested menu's, but simply having support for single level will solve most users issue (nesting wasn't supported when this issue was created).

If anyone sees this and wants to pull request that functionality I'll definitely merge it. :smile:

[2016-01-16 19:08] madmas commented on #4
Cool thing, very happy to see it got merged so quickly :+1:
Any plans on releasing a new version that contains this?

[2016-01-16 19:15] Templarian commented on #4
Yea, should have time later today after my run (I have a few other minor features to edit in before I tag it for a release). Busy working on my other open source project for the next few hours.

[2016-01-18 10:03] madmas commented on #4
Cool, looking forward to it ;-)
Thanks a lot for your work!

[2016-01-19 01:27] dashawk opened #36 "Nested Menu not closing on hover out"
I have a nested menu example [here](https://jsfiddle.net/yqkd3h9g/).

The issue is that, when you hover to a nested menu item, it will display the sub menu items, but if you hover to another menu item which is not a nested menu, then recently opened sub menu of the previous menu is still open.

Is there a way to close the sub menus if we hover away to the parent menu item?

[2016-01-19 01:46] Templarian commented on #36
Yea, I'm coding a fix for this before the next release (next release will include has #4's changes in it also).

[2016-01-19 01:53] dashawk commented on #36
Hi,

I just solved the issue.

I just updated this block:
[code]

[2016-01-20 06:14] josetaira opened #37 "Feature: Allow for late loading of nested menu options"
Have a parameter you can specify that will be called to return the array that will be supplied to the nested menu before it is rendered. I'm thinking this can be simple function that returns the nested menu array which will be called before render menu of the nested arrays, or it can be an object, something like: {"nestedMenuLoader": function(){return []};}.

The object option might be better sinc

[2016-01-20 06:21] Templarian commented on #37
Probably easier to make `context-menu="menuOptions"` allow...

[code]

It already allows a function that returns an array so returning a promise would be easier to understand.

[2016-01-21 16:12] madmas opened #38 "Marker for nested menu looks ugly in firefox"
With Firefox (tested with version 43 and 38), the marker for the nested menue is rendered in a new line, which looks ugly:

![bildschirmfoto 2016-01-21 um 17 11 03](https://cloud.githubusercontent.com/assets/37251/12486244/122f7ac6-c062-11e5-818e-f3098db505e7.png)

Solution is to add the (floating) marker first, I'll provide a PR in a minute.

[2016-01-21 16:33] madmas commented on #36
@dashawk, I adapted your snippet into a PR :-)
@Templarian do you think thats sufficient or did you have another solution in mind?

[2016-01-21 16:41] Templarian commented on #36
@madmas I had a slightly different solution (very similar actually), but It involves waiting a 0.5 seconds of hover off to close the menu similar to how it works on desktop, but I need to test the idea to make sure it works on touch okay.

This allows the mouse to quickly move off and back on without instantly closing the menu.

[2016-01-21 16:54] Templarian commented on #38
Thanks! Will review it shortly, but yea that definitely doesn't look nice in Firefox (kind of didn't want to use the Glyph font since a lot don't include it and opt for other font packages, especially when using themes).

[2016-01-22 16:32] lucaskatayama commented on #5
+1

[2016-01-25 08:54] thachp commented on #5
@Templarian - Please checkout my pull request. Look in demo/index.html to see working demo.

[2016-01-27 12:54] lucaskatayama opened #42 "Description for Nested Menus has an error..."
Hi

I think this
[code]

Should be this:
[code]

With extras open and close brackets for parent's thid argument, right?

[2016-01-27 15:46] Templarian commented on #42
Correct! Fixed.

Thanks! :smile:

[2016-01-27 15:46] #42 closed

[2016-02-11 07:55] prasad83 opened #43 "Allow trigger customization - click or contextmenu"
Context-menu could be used like dynamic dropdown-menu as well - where click happens on handler.
Having trigger controlled from element attribute would make it easy.

[code]

[code]

[2016-02-16 16:06] kris-kk opened #44 "Bower release is not syncronized with source on github"
Installing using bower package manager... getting older version... any idea when a new release will be created?

[2016-02-16 17:27] Templarian commented on #44
Sorry, the master branch is the working branch and isn't perfect ready for a release. Just use https://github.com/Templarian/ui.bootstrap.contextMenu/tree/v0.9.6 for now.

Sorry this project is lower on my priority list at the moment. Might try to find some time this weekend.

[2016-02-17 15:11] tincho89 commented on #5
Hi,

Why not change line 56 from:
`$a.text(text);`
to
`$a.html(text);`

I did it and it renders basic HTML (i.e: <i> tags) and text correctly.

[2016-02-19 01:40] jamesrom commented on #38
Hey @Templarian I have checked this fix (49279e1) and it works. Can you please merge this (it's a one liner, check it out).

Firefox support is the only thing stopping me from using this otherwise awesome context menu.

[2016-02-19 01:50] Templarian commented on #38
Merged, need to update the `bower` and `npm`.

[2016-02-19 06:32] Templarian commented on #5
I read these, just swamped right now with other stuff. Will try and spend some time on this, this weekend.

[2016-02-25 06:39] phanivaranasi opened #45 "Nested Item"
![image](https://cloud.githubusercontent.com/assets/6230353/13311913/638f8d22-dbb8-11e5-96d5-a8be090ccf2f.png)

In the above screen shot, My Parent Item is Water Quality is my Parent Element, I'm rendering context menu for Child elements, I'm trying to catch hold of child element data-key attribute value, could you assist in fixing this.

Thanks
Phaneendra

[2016-02-25 07:06] Templarian commented on #45
Can you post your HTML?

Double check that your `ng-repeat="foo in foos"` is matching `$itemScope.foo` (notice `foo` is the same).

[2016-03-01 07:41] Jarkyy opened #46 "Context menu not working with element without value"
I have data grid with some empty cells and I need to be able to open context menu for those cells too. Problem is that context menu works fine for cells with some value, but not for those without value.

This works:
`<div><p context-menu="taskContextMenu(6,2,'true','false')" title="VS">VS</p></div>`

Not working:
`<div><p context-menu="taskContextMenu(6,2,'true','false')"></p></div>`

[2016-03-01 08:31] Jarkyy commented on #46
Solved the issue with non-breaking space.

[2016-03-03 03:58] spuerFan opened #47 "how to enable/disable the menu dynamically"

[2016-03-04 14:57] StevenRKM commented on #43
I agree, and this is a non-intrusive way of using another event for the contextmenu.
I did something similar for my project with only the left mouse button, but I like this better!

[2016-03-08 08:12] janober commented on #43
Also +1 from me. Exactly what I would need right now

[2016-03-11 22:31] dalbir commented on #5
tincho89's Idea working for me.

[code]

[2016-03-16 13:05] ThePholph opened #50 "Error: assignment to undeclared variable $promise"
HI,

I guess I found an issue in line 53 ' $promise = $q.when(text) ', when I use IIFE. After declare the variable '$promise' it works fine.

[2016-03-22 13:24] jurgenvo opened #51 "Timeline on next release"
Hi,

no real issue here, so don't worry. I'm wondering when the next version will be released. The main functionality I'm waiting for was introduced in commit 7e2cd498a0ddc46940f5a35f7f3b04607a8ab8e6. I hope you can tell me more about the release date.

Thanks!

[2016-03-30 08:17] josetaira commented on #37
@Templarian yeah, seems logical. Any plans on implementing this any time soon?

[2016-03-30 09:41] josetaira commented on #37
I've implemented this and created a PR here: https://github.com/Templarian/ui.bootstrap.contextMenu/pull/52

[2016-04-01 11:38] josetaira commented on #4
This commit https://github.com/Templarian/ui.bootstrap.contextMenu/pull/52/commits/bc4d4d0ece0b9dce5b7213f744b63ed90aaa6d41 in PR https://github.com/Templarian/ui.bootstrap.contextMenu/pull/52 integrates the work done here with the Nested Menus.

I've only worked on the topCoordinate though. I'm still thinking of a good way to implement the leftCoordinate part. @madmas maybe you have some ideas?

[2016-04-09 11:24] deadmann commented on #47
Add Hide / Show too

[2016-04-09 12:12] deadmann opened #53 "update packages"
Bower package is old, and doesn't support HTML, please consider to update it :|

[2016-04-17 18:55] Templarian commented on #53
Will try and get this worked on tonight. Been really swamped lately.

[2016-04-19 03:02] Templarian commented on #53
Latest is pushed.

[2016-04-19 03:02] #53 closed

[2016-04-19 03:03] Templarian commented on #51
Latest is in bower/npm now.

[2016-04-19 03:03] #51 closed

[2016-04-19 03:13] #37 closed

[2016-04-20 08:38] devginie opened #56 "Preventing to conflict right-click event using another library."
[code]

Delete `event.stopPropagation();` code line.
Not bad, huh?

[2016-04-21 14:33] glaidler commented on #9
This would be easily(!?) solved by adding support for opening the menu on left-click.  This would make it work on tablets.  If you can point me to where it distinguishes right button in the code I can pull-request.

[2016-04-21 15:31] Templarian commented on #9
@glaidler https://github.com/Templarian/ui.bootstrap.contextMenu/blob/master/contextMenu.js#L279

[2016-04-22 09:03] josetaira opened #59 "Adding some Unit Testing"
So as to make contributions easier to manage, I think we'll need to add some unit tests to this project. The features are few enough at this moment to create an initial test suite.

For PRs, tests should also be included/updated to ensure that changes do not break existing functionalities.

[2016-04-25 01:15] josetaira commented on #46
When the element the context-menu is attached to has no "size" (such as when there's no text inside), there's really no way to "click" that element. If you look at it under Inspect Element, it normally wont show at all. Adding a non-breaking space makes the containing div/p have a size which you can click/right-click onto.

[2016-04-25 01:15] #46 closed

[2016-04-25 01:29] #38 closed

[2016-04-25 01:30] josetaira commented on #38
@Templarian the merge seems to have disappeared shortly after it was merged because of the refactoring that was done. I've added in a fix that closes this issue. We'll just have to update bower and npm accordingly.

[2016-04-25 02:05] #22 closed

[2016-04-25 02:08] josetaira commented on #22
https://github.com/Templarian/ui.bootstrap.contextMenu/commit/e2f1dbb761ed30e1b835e4a99d112f3b1d14b494 now adds the class `angular-bootstrap-contextmenu` to the dropdown. README has also been updated accordingly.

[2016-05-08 17:02] JWGmeligMeyling opened #62 "You can open multiple context menu's by right clicking next to the context menu"
You can open multiple context menu's by right clicking next to the context menu. Imho the context menu (or: all open context menus) should close on all clicks on the document.

[2016-05-27 09:03] BiggusCockus opened #64 "Dynamic Menu Item Text"
Using the demo included in the release, I tried to change the text from "Buy" to "Buy <x>" where <x> is the item being selected. I understood that the "Buy" string can be replaced with a function so I used the following configuration:

[code]

The first menu item is displayed as "New Item"

![screen shot 2016-05-27 at 10 02 18 am](https://cloud.githubusercontent.com/assets/16840018/15603355/2d49fb

[2016-06-02 21:36] wagedomain opened #67 "Using the context-menu from inside a bootstrap submenu closes the parent menu"
As the title says, if you use the context-menu inside of a bootstrap submenu, opening the context menu closes the parent, leaving the context menu floating in the screen visibly attached to nothing.

[2016-06-03 02:13] josetaira commented on #67
A plunkr with a demo would be really helpful here.

[2016-06-03 17:20] wagedomain commented on #67
After investigating, it's because using the context menu causes a brief "unhover" of the bootstrap submenu and that causes it to hide. A workaround I built is to simply capture the right-click event on the element and "pinning" the bootstrap menu open until something triggers it to close.

Not sure if or what the events are for this and if there's an "onClose" event or not... still investigating.

[2016-06-12 13:11] shubhamkes35 opened #68 "Can Callback function return dom element also?"
$scope.menuOptions = [
            ['Copy Url', function ($itemScope) {
                console.log($itemScope.element);
            }]
        ];

Is it possible to get the element?

[2016-06-22 08:25] leviathangirl opened #70 "Can I use system-context-menu while clicking some special target?"
I use `ui.bootstrap.contextMenu` for a html.

While I'm click something special, I want use `system-context-menu` instead of `ui.bootstrap.contextMenu`.

I knew that I can identify which target to use different contextMenu by using `$event.target`.

I tried contextMenuOptions return null or false, but it return to me a blank contextMenu, not `system-context-menu.

![snap261](https://cloud.githubus

[2016-06-23 19:57] intrepido commented on #64
Same problem the dynamic item doesn't work

[2016-06-24 22:56] joshchua opened #71 "Bower package seems to be a different, older version"
The contextMenu.js from Bower doesnt have contextMenuOn that is here on the GitHub repo

[2016-06-27 17:24] saulo2 commented on #71
I am facing the same problem. When do you plan to releage a new version?

[2016-06-27 18:27] Templarian commented on #71
Oh yea, always forget about this project... yes. I'll do a code check this week and try and get bower/npm updated with a new version.

[2016-06-28 07:50] tiagomsmagalhaes opened #72 "Know which option has been selected"
I'm currently trying to use this directive to load a dynamic Menu with dynamic functions. I wanted to know what option has been selected of the menu to then invoke a function in my controller but apparently I can't. Is there a way in the current release?

[2016-07-06 21:15] AOlkar commented on #71
This still is the same older version off Bower.

[2016-07-06 22:04] beauraines commented on #71
This is not a long term solution...

You can grab master by  putting this line in your `bower.json` instead of the version that is specified

[code]

[2016-07-08 13:18] davidedellai opened #73 "Check if all values returns true or false"
I will report what I wrote on stackoverflow:

Look at this function:

`var registerEnabledEvents = function ($scope, enabled, item, $ul, $li, nestedMenu, model, text, event, $, level) {
            /// <summary>

If item is enabled, register various mouse events.</summary>

            if (enabled) {
                var openNestedMenu = function ($event) {
                    removeContextMenus(le

[2016-07-08 15:44] saulo2 commented on #71
A slightly better option is to indicate an specifi commit:

"https://github.com/Templarian/ui.bootstrap.contextMenu.git#12b9eef"

[2016-07-13 13:20] Ruud-cb commented on #9
On android in Chrome it works, IOS still not working (safari). This is probably due Apple's "force touch". Would be nice to see a fix, but perhaps it is even better to show the menu in an app-way. Thus opening a side menu or something?

[2016-07-14 06:22] sachinkhot02 opened #75 "popup blinks on menu item which has nested menu on mouse over"
when I mouse hover on the item which has nested  poup then the all that is the parent and sub popup blinks and render.

[2016-07-14 17:25] alexander2209 opened #76 "Add hide menu option"
I know we can disable menu options, but they still show up and look exactly the same but I am unable to click. I would LOVE it if you could actually prevent these menu items from showing at all. Like an ng-hide or something.

[2016-07-14 18:05] Templarian commented on #76
This was considered and may still be added for now look at the last code block in menu options. You can use a function for menu options and push to an array each menu item and return it.

https://github.com/Templarian/ui.bootstrap.contextMenu#menu-options

[2016-07-14 18:23] Asheq opened #77 "Firefox's default context menu still pops up"
In Firefox (version 45.2.0), Firefox's default context menu still pops up, potentially covering up the one generated by angular directive as shown in the picture below:

![image](https://cloud.githubusercontent.com/assets/4657140/16819884/5073efa4-4903-11e6-881a-609bfb25f49d.png)

[2016-07-14 19:02] Templarian commented on #77
On 47 it right clicks fine, that example codepen needs to be updated as it contains the broken arrow in Firefox.

You may have an addon or something installed also. Try safe mode.

[2016-07-14 19:02] #77 closed

[2016-07-14 19:47] Asheq commented on #77
Thanks for looking at this.

I solved the issue by entering **about:config** into the Firefox address bar and changed **dom.event.contextmenu.enabled** to true.

(This link steered me in the right direction: https://support.mozilla.org/en-US/questions/960253)

[2016-07-14 19:50] Templarian commented on #77
Yea, might be a company wide setting. Some org's IT modify random defaults like this because they think they hare helping the user.

Good to see you found a solution. :smile:

[2016-07-15 01:53] josetaira commented on #76
I've also added the feature before so that function can also return a promise, which can resolve to an array containing exactly what you want it to display.

[2016-07-15 02:43] #76 closed

[2016-07-18 14:48] Ruud-cb opened #78 "Keyboard navigation"
Hi,

Eould it be possible open the context menu and navigate with arrow keys or other shortcut keys to different items in the list? I am trying to add `$contextMenu.on` events, to `keydown` for example. But this doesn't get triggered, it still scrolls the normal window (or the table below it (Angular UI Grid).

Could use some help :)

[2016-07-20 05:26] shihalv commented on #72
I need the same thing.  Pre-select the item, then open the context menu.

[2016-07-26 11:41] chessychev opened #79 "menu option [Function, Function] format not working on 0.9.7"
works on 0.9.6, broken on 0.9.7.
the first of the two function is probably not called, since the menu option is always "New Item" (probably the default for a menu option when no other string is provided).

[2016-07-28 11:11] guicoma commented on #38
I'm not quite sure if I'm doing something wrong but the update doesn't seem to grab the correct code. Looking here at the tag of v0.9.7 it doesn't contain this fix. I guess I can grab it using the commit hash, but I believe the tag should be corrected.

[2016-07-28 11:22] guicoma commented on #71
Yes, ran into this issue when I saw that on Firefox nested menu didn't look quite right. Will use the specific commit for now. Thanks!

[2016-08-05 19:42] vnishukov commented on #79
Have the same issue on 0.9.7

[2016-08-09 07:35] josetaira commented on #79
Hi @chessychev @vnishukov, can you provide a plunkr for this? I'll check it out once you do. Thanks

[2016-08-09 21:04] carsey commented on #79
Having the same issue.

[2016-08-09 22:02] carsey commented on #79
Codepen: http://codepen.io/anon/pen/QEJZmr
It is fixed with most recent commits, but on 0.9.7 tag it is broken.

[2016-08-12 12:30] omidn opened #81 "Left click binding is not working"
Dear,

I installed the module according to the instructions on Readme.md and got it running. This options seem not to be working for me.
[code]

Albeit I have defined that **context-menu-on="click"**.
Any ideas?

[2016-08-15 09:51] nabinca commented on #56
+1 I also stumbled about this.

[2016-08-17 03:13] jdoan3 opened #82 "Indexing Item in Nested Menus"
I am using a dynamic  nested menu with the context menu.
My context menu reads

 $scope.menuMenuOptions = function (item) {
        var dateArray = [];
        for (var i = 0; i < $scope.dateRange.length; i++) {
                dateArray.push([$scope.currDateRange[i].date, function ($itemScope) {
                    //Do Something
                   $scope.doSomething($itemScope.element, /*ChildSc

[2016-08-20 23:47] #82 closed

[2016-08-23 10:24] einarj commented on #81
I have that issue as well. Added context-menu-on="click" to the codepen example but it still only triggers on right-click.

[2016-08-25 08:30] 721687 opened #83 "0.9.7 version of the use of three parameters, the menu name will be displayed as [new item]. Instead of the [name] ."
0.9.7 version of the use of three parameters, the menu name will be displayed as [new item]. Instead of the [name] .

`$scope.menuOptions = [
         [function(){
            return 'name';
          }, function ($itemScope) {
          }, function ($itemScope) {
          }]
      ];`

[2016-08-29 01:20] Templarian commented on #81
http://codepen.io/templarian/pen/kXOjVp Just tried it (the demo codepen has been updated with `v0.9.8`.

Appears to work, might have been a bug.

[2016-08-29 01:20] #81 closed

[2016-08-29 01:20] Templarian commented on #79
This was fixed in `v0.9.8`. Closing the issue.

[2016-08-29 01:20] #79 closed

[2016-08-29 01:21] Templarian commented on #83
Can you retest this for `v0.9.8`, it might be fixed.

[2016-08-29 01:22] Templarian commented on #71
Updated to `v0.9.8`, sorry been really busy. Will try to not ignore this project from now on.

[2016-08-29 01:22] #71 closed

[2016-08-29 01:23] #62 closed

[2016-08-29 02:34] saulo2 commented on #71
Hi Templarian, I am glad you managed to find some time to work in the project again. It is a wonderful component. Thanks a lot. Keep the good work!

[2016-08-29 18:12] einarj commented on #81
Verified, awesome. Thanks for the update.

[2016-08-29 18:36] omidn commented on #81
Awesome, Thanks

[2016-08-30 03:05] josetaira commented on #71
@Templarian, if you could inform me on the procedures on how to put the latest version into bower, I'd be able to update it when you're too busy.

[2016-08-30 03:47] Templarian commented on #71
@josetaira Bower is simply updating the bower.json version and git tagging. Same with NPM's package file, but to do a `NPM publish` I need to add you as a user.

[2016-08-30 03:57] 721687 commented on #83
0.9.8 is ok, thanks!

[2016-08-30 03:57] #83 closed

[2016-09-06 09:44] prikryl opened #84 "Context menu is not closed on click outside menu"
fix:
contextmenu.js
[code]

[2016-09-13 01:40] josetaira commented on #84
Weird. This used to work on a previous version. Probably one of the recent "fixes" and changes broke this. I'm working on it.

[2016-09-13 01:46] #84 closed

[2016-09-13 01:50] josetaira commented on #84
"closest" is not available in jQLite. The change in https://github.com/Templarian/ui.bootstrap.contextMenu/pull/63 broke this. We should make sure that changes coming into this repo do not have any jQuery-only code.

Should be available in the next build in bower and npm. @Templarian for your action

[2016-09-13 01:56] josetaira commented on #70
There's currently no way to specify when to turn it off. However, you can try adding something like:
[code]

to the element containing `system-context-menu`. Just make sure that the event already has reached system-context-menu before you stop propagation. If you provide a plunkr I might be able to help a bit more.

This is really outside the scope of this project, so I'll be closing this unless t

[2016-09-13 01:56] #70 closed

[2016-09-13 02:46] #68 closed

[2016-09-13 02:47] josetaira commented on #68
It's now passed as a parameter in the callback (you can't get it from the itemScope). See the updated README.md

[2016-09-13 02:55] #56 closed

[2016-09-13 02:56] josetaira commented on #56
The event.stopPropagation and all other things there are required to not show the browser's context menu. However, if you want to capture the event instead, I added `allow-event-propagation` so you can still interact with it.

[2016-09-13 03:03] josetaira commented on #45
Will be closing this due to lack of activity. If this is still an issue, kindly provide a plunkr with some code to replicate this.

[2016-09-13 03:03] #45 closed

[2016-09-13 03:05] josetaira commented on #50
Doesn't seem to be an issue anymore. If you still encounter this, kindly provide a plunkr that can replicate it.

[2016-09-13 03:05] #50 closed

[2016-09-13 03:07] josetaira commented on #43
Fixed by https://github.com/Templarian/ui.bootstrap.contextMenu/pull/66

[2016-09-13 03:07] #43 closed

[2016-09-13 03:13] josetaira commented on #72
I've added the list item that's selected as a parameter in the callback. Is this what you were looking for @tiagomsmagalhaes, @shihalv?

[2016-09-13 03:22] Templarian commented on #84
@josetaira v0.9.9 released. Eventually I guess I'll have to make this a v1.0.0 release.

[2016-09-15 18:36] dotLou opened #85 "Regression: android context menu no longer works"
With 0.9.9 (possibly a direct effect of 60853f8a740422bfca185b7a5e739bd5976d4fe9) android is no longer able to get a context menu.

[2016-09-16 17:31] dotLou commented on #85
As it turns out, this was caused by our addition of a longpress fake event to support iOS, which was getting the event.pageX and event.pageY coordinates, which of course were reported differently between iOS and android.

[2016-09-16 17:31] #85 closed

[2016-09-17 11:53] raviji commented on #9
Yes am also stuck on this... any help would be appreciate

[2016-10-03 12:11] 5im5im opened #87 "Can't use with UI-Grid"
Hi there

ContextMenu works fine, except in [UI-Grid](https://github.com/angular-ui/ui-grid). They use an isolated scope so the scope is not that one context menu expect.

What ever UI-Grid provides the original scope via `grid.appScope`.
I could only fix it if I edited the contextMenu JS in the last function which is very dirty to edit a 3rd party libary...

[code]
So I can use the original scope

[2016-10-11 06:19] nabinca commented on #87
Actually i have got a working example without changing contextmenu-Library. I totally agree with you about patching 3rd party libraries. :)
Ok, here we go:
my npm-versions for completness:
angular version 1.4.x
angular-ui-grid version 3.2.x
angular-bootstrap-contextmenu 0.9.x

Controller part (just snippets):

[code]

[2016-10-11 07:03] josetaira commented on #87
Seems like a workaround has been provided. It's an issue with integration with another library, which isn't really covered in what we can fix (unless there was a dependency in that library - in this case, there's none)

[2016-10-11 07:03] #87 closed

[2016-12-02 15:26] krzysieki opened #94 "In nested menu allow action on nested sub menu parent"
In a given context menu:
[code]
it is possible to attach actions only to items: item 1, sub-item 2.1, sub-item 2.2

It should be possible to attach action also on "item 2" (which is a parent to nested submenu with "sub-item 2.1" and "sub-item 2.2")

PS
Thanks for your work!

[2016-12-12 07:13] karishma2 commented on #9
Hi ,
Not working on iOS devices .
Any help would be appreciated.

[2016-12-12 17:07] Templarian commented on #9
I don't have an iOS device to test this on. Still kind of waiting for a pull request or a way to handle this for their proprietary (?) touch API's.

[2016-12-26 18:19] parzibyte opened #96 "Bug when jQuery is loaded"
When jQuery is loaded the menu is not hidding

[2017-01-03 03:20] josetaira commented on #96
@parzibyte what jQuery version are you using? Could you maybe set up a plunker to show this?

[2017-01-03 04:02] josetaira commented on #96
@parzibyte I just pushed in d8ca2d4, which was fixing a different bug but that should also fix this issue as well. Try it out and see if it works.

@Templarian we might need a new bower build sometime soon

[2017-01-03 04:05] Templarian commented on #96
@josetaira Will plan to do one this week to get it out. Thanks for the heads up.

[2017-01-03 04:17] josetaira commented on #94
hi @krzysieki what is your use case for this? Just curious. Because normally if you have a sub-menu, the purpose of the parent is only to display that sub-menu.

[2017-01-03 13:29] krzysieki commented on #94
Please consider scenarios:

example 1.
We have items and categories in our system. Categories can contain sub-categories (tree structure). Now in UI there is a function to attach a category to an item. Function can be achieved via context menu: right click on item -> list of categories in context menu -> now we can choose one of categories (even if it has children) or subcategories.

example 2.
We

[2017-01-03 19:17] parzibyte commented on #96
The bug is still present, but now i made a plunker. Here is the link: https://embed.plnkr.co/HSnNgLXEFBcRgoj8lGMn/

[2017-01-09 22:04] gconey opened #98 "Context menu not being removed"
The last commit seems to have introduced a bug where the context menu isn't removed when the user clicks outside it. I fixed this by changing the following line in removeAllContextMenus:
Changed `if ( !$(event.currentTarget).hasClass('context') ) {`
to `if ( $(event.currentTarget).hasClass('context') ) {`

[2017-01-10 03:09] KuroNoDev commented on #36
any luck with this?

[2017-01-11 09:14] dashawk commented on #36
Thanks guys for the inputs. I will close this issue now but if you have any other additions, feel free to reopen.

[2017-01-11 09:14] #36 closed

[2017-01-12 06:16] AlexJH4U commented on #72
@josetaira Yes, that's exactly what is needed -- but I'm not seeing any parameter representing the selected item.

[2017-01-16 06:23] devginie commented on #98
I am in same problem. Therefore, I resolve that following code :

`if ( !$(event.currentTarget).hasClass('dropdown-menu') ) {`

Any problem this code?

[2017-01-16 06:26] josetaira commented on #98
Hi @gconey @devginie are you referring to the latest bower version or the latest commit at d8ca2d4? I just tried d8ca2d4 and it seems to be working as expected.

[2017-01-16 09:10] gconey commented on #98
The problem is in the latest commit.

[2017-01-16 09:45] josetaira commented on #98
![click-out-issue](https://cloud.githubusercontent.com/assets/15209679/21977969/6b7c9bce-dbd0-11e6-84ec-6df564226e26.gif)

This is what I'm encountering. Seems like I can only replicate it when clicking outside the bounds of the html (the part that gets highlighted in blue). Is this the same thing for you? Particularly, when you click within the bounds of the <html></html> does it work?

[2017-01-16 10:22] gconey commented on #98
The problem I saw was that clicking anywhere outside the context menu didn’t hide the context menu.
I am using the latest ver of Chrome.
The small change I suggested has fixed the issue completely.

Regards,
George

From: Jose Taira [mailto:notifications@github.com]
Sent: 16 January 2017 09:46
To: Templarian/ui.bootstrap.contextMenu <ui.bootstrap.contextMenu@noreply.github.com>
Cc: George Coney <g

[2017-01-16 10:54] #98 closed

[2017-01-16 10:59] josetaira commented on #96
hi @parzibyte could you just recheck this again with the latest commit? I wasn't directly fixing this, but just checking if that might have been the same problem as #98

[2017-01-16 11:02] josetaira commented on #75
Hi @sachinkhot02, could you try this on the latest build? If it doesn't occur anymore, kindly close the ticket. If you can still replicate it, please provide a plunker with a demo. Thanks

[2017-01-16 11:03] josetaira commented on #72
Closing this from lack of response. If what I added wasn't what you were looking for, kindly reopen this ticket and describe what you need.

[2017-01-16 11:03] #72 closed

[2017-01-16 11:06] josetaira commented on #64
@BiggusCockus @intrepido if you could just confirm if this is already fixed in the latest commit that'd be great.

[2017-01-16 11:06] #64 closed

[2017-02-13 11:27] BenjaminDish opened #100 "context-menu-class doesn't add the given class to the top element"
Hi,

As explained in the title, the context-menu-class seems disabled. Is it normal ?
I wrote the master code, and nothing is done to add the given class name to the DOM.

So, at the moment, no class (default or custom) is added to the 'ul' top element of the contextMenu, but bootstrap's 'dropdown-menu'.

Thanks in advance.

[2017-03-09 12:40] gauravpatni123 commented on #96
how to add mouse over  in the contextmenu.js file?

[2017-03-15 10:27] asafMasa opened #103 "Imigrate to Angular2"

[2017-03-24 22:26] Qti3e opened #104 "Open context menu programmatically"
Hello, everyone.
I'm just wondering is there any existing API for opening context menu programmatically?
Something like:

[code]

Thanks for your helping :-)

[2017-03-25 07:08] theseeker16 opened #105 "¿Its possible to add stopPropagation() in the contextMenu ?"
I want to add  stopPropagation() when i click some function my dropdown closes immediately. its is possible ?

[2017-03-26 10:46] Qti3e commented on #104
Can anyone help me? please

[2017-03-27 21:57] Templarian commented on #103
There is no public TypeScript implementation. I've moved on to a lot more TypeScript Angular 2 work, kind of why this isn't really maintained anymore.

Would be nice to see, but I don't use context menus in any of my current projects.

[2017-03-30 10:30] josetaira commented on #104
You can do so by triggering the event that the context menu is attached to. Something like:
[code]

[2017-04-11 07:54] muzuro commented on #94
This feature will be usefull for me too

[2017-05-09 08:43] gwinnem opened #106 "Close context menu in code"
Is it possible to close the context menu in javascript ?

[2017-05-09 10:03] #104 closed

[2017-05-09 10:07] josetaira commented on #106
Yup, you just need to trigger the jQuery event "mousedown" on $(document.body)

If you look at the code, you'll see there's a listener to this event. This will trigger all other mousedown events though. There's no direct way to close the contextmenu that's exposed currently. If you really need this, let me know.

[2017-05-09 10:24] gwinnem commented on #106
I am triggering the below code:
But context menu is still open until i click the modal, but i need it to close automatically
$(document.body).trigger("mousedown");
                            var kendoTree = this.tree;
                            var dataItem = this.tree.dataItem(this.tree.select());
                            $scope.dataItem = kendoTree.dataItem(kendoTree.select());

[2017-05-09 10:38] josetaira commented on #106
What version of the context-menu are you using? If it's an old one this might work instead:

`$(".angular-bootstrap-contextmenu").mousedown()`

It's because the binding for the close was different before.

[2017-05-09 11:14] gwinnem commented on #106
I am using the code from github but i still have the same issue.

On 9 May 2017 at 12:38, Jose Taira <notifications@github.com> wrote:

[2017-05-10 11:15] gwinnem commented on #106
Found a fix by adding $("ul").remove(".dropdown-menu"); to the code in the menu items to enforce that the menu is removed before i open my modal box.

[2017-05-10 11:15] #106 closed

[2017-07-04 14:48] sigalvo opened #110 "Add a ContextMenuOpened event"
Hi,
Is it possible to add event for the contextMenuOpen ?

[2017-07-05 13:14] jbmyid opened #111 "Sub menu not getting closed"
Sub menu not getting closed when moved focus out and focus in to item which doesn't have the subitems
<img width="358" alt="screen shot 2017-07-05 at 6 43 31 pm" src="https://user-images.githubusercontent.com/1590395/27865923-061f01b4-61b2-11e7-845d-68cb26a50a95.png">

[2017-07-06 09:38] jbmyid opened #112 "Accessing the element"
How to access the element which we have added context menu on. No information in the event either.

[2017-07-09 02:23] josetaira commented on #111
Hi @jbmyid, are you using the version from `master` or from the latest bower? I've checked the latest master and it seems to be working as expected. @Templarian, can we deploy a new bower build?

[2017-07-09 02:38] josetaira commented on #112
In the callback for the click, the second parameter is `event`. You can get the target from there. If you mean the exact option that was clicked, this is available as the 5th parameter.

[2017-07-09 02:50] josetaira commented on #105
Hi @theseeker16, what's the use case for this?

[2017-07-09 03:56] #100 closed

[2017-07-09 04:01] josetaira commented on #96
Closing this due to inactivity. If it's still an issue, just reopen it or create a new ticket @parzibyte

[2017-07-09 04:01] #96 closed

[2017-07-09 04:08] josetaira commented on #94
Due to the current structure of the code, this doesn't seem to be easily possible since item[1] is already used to contain the children and therefore cannot also contain the function. I'm planning on doing some changes to allow this to happen. Will keep you posted

[2017-07-09 04:54] josetaira commented on #94
@krzysieki @muzuro this should be fixed as of 5e03256d40c7af4eed50eea5014143dcfb45f246

Just specify both `click` and `children` for the new object-based implementation.

[2017-07-09 04:54] #94 closed

[2017-07-09 04:56] josetaira commented on #75
Closing as this can't be replicated anymore. If it's still an issue, kindly provide a plunkr to demonstrate, or a gif.

[2017-07-09 04:56] #75 closed

[2017-07-09 04:59] josetaira commented on #47
There is a parameter called "enabled", which accepts a function or boolean. Just make sure the function returns false if you want to disabled something based on some condition.

[2017-07-09 04:59] #47 closed

[2017-07-10 05:02] jbmyid commented on #112
No in the event target is not available, also 5th option is the li of context menu.

I want the element on which we do right click.

[2017-07-10 05:03] jbmyid commented on #111
Using latest from bower.

[2017-07-10 05:12] josetaira commented on #112
@jbmyid what are the properties available in the event? Can you post them here?

[2017-07-10 05:13] josetaira commented on #111
Yeah, it's just outdated. Once @Templarian deploys a new bower build from master it should be fine.

[2017-07-10 05:21] jbmyid commented on #111
Cool Thanks

On Mon, Jul 10, 2017 at 10:43 AM, Jose Taira <notifications@github.com>
wrote:

[2017-07-10 05:28] jbmyid commented on #112
It juts gives coordinates
<img width="386" alt="screen shot 2017-07-10 at 10 57 03 am" src="https://user-images.githubusercontent.com/1590395/28003903-8dfcc788-655e-11e7-835e-fa3cd2cc8ca8.png">

[2017-07-11 04:39] #112 closed

[2017-07-11 04:40] josetaira commented on #112
The event should now have a "target" which is the element the context menu was on.

[2017-07-11 05:21] jbmyid commented on #112
cool thanks, when will it be available on bower?

[2017-08-01 08:44] aitorMolinuevo opened #114 "Event when the context menu is closed without action"
Hi,

I am using this awesome directive but I have a need that I cannot resolve. I have a timer thats stops when the context menu is opened and restarted when an action of the context menu is fired, the problem is when the user doesnt fire an action and just close the context menu I am not able to get an event when the context menu is closed. It is possible to achieve this?

Thanks in advance!

Nic

[2017-08-06 11:28] yonatanarbel opened #115 "Adding promise support for main layout"
So as for now, there is a support for "promise" return in case of children items

but sometimes I want to display item without children and display it according to info I get from the server.

therefore a support for promise return in the main layout is needed as well...
is there any plan to add this feature in the future?

is someone already working on it?

Thanks,
Yonatan

[2017-08-22 19:39] RogerMito opened #117 "Get Selected Item"
Hello.
How do I get the selected element after the click event?
I have the $ itemScope variable, however I can not get the attributes of the element that was selected from the context menu.
Thank you.

[2017-08-23 07:19] nt9142 commented on #111
It seems like npm repository also should be updated.
I just found another issue: Children menu items don't work with the new implementation.
But if I get the master version it will work.

[2017-08-24 13:24] RogerMito opened #118 "Delayed rendering"
Hello.

Firstly, I would like to congratulate the team for their work.

I was able to solve my problem. In this case, context menu construction parameters are obtained from a database via AJAX calls. Once the information is available, I build a custom html (customHtml). After that, I make the attachment an id for each customHtml (this id is referring to some URLs that I should access after clickin

[2017-09-19 14:34] Mouradif opened #119 "Text that comes from $filter('translate')('key') is not dynamically updated"
Hi there,

Just a tiny issue here, everything is in the title, I have a `menuOption` array like this :

[code]

But the text in the context menu stays the same as when the page was first loaded

[2017-09-27 08:37] marcolazzarini opened #120 "close menu programmatically"
Hi, I'm using this directive to implement a context menu with right click inside an ace editor instance, it is really awesome.
I was thinking about the possibility to close the context menu programmatically, i.e. when a user press **ESC** on the keyboard, you should think about adding this feature

[2017-09-30 05:22] josetaira commented on #119
Hi @Mouradif could you provide a plunker sample of this?

[2017-09-30 05:38] josetaira commented on #118
Is the context menu generated each time? If so you can just pre-load it instead of loading it when the user invokes the context menu. This way, when your context menu is invoked, it will already have the data.

Something like:
[code]

[2017-09-30 05:38] #118 closed

[2017-10-01 06:11] josetaira commented on #117
It's the 5th parameter passed to the onclick handler. See https://github.com/Templarian/ui.bootstrap.contextMenu#callback-parameters

[2017-10-01 06:11] #117 closed

[2017-10-01 06:15] josetaira commented on #119
Nevermind, just try this out instead:

[code]
If the translation is made after the page is loaded, if you don't put it in a wrapper function the old text will not change.

[2017-10-01 06:15] #119 closed

[2017-10-01 06:16] josetaira commented on #111
v1.0.0 is out and you should be able to get it from bower and npm now.

[2017-10-01 06:16] #111 closed

[2017-10-01 06:17] josetaira commented on #67
If this is still relevant, feel free to create a new issue and reference this instead. Closing since you have a workaround.

[2017-10-01 06:17] #67 closed

[2017-10-01 06:51] #73 closed

[2017-10-01 06:51] josetaira commented on #73
You can use the newly added 'displayed' parameter. This will be available in v1.0.1

[2017-10-01 06:53] josetaira commented on #44
v1.0.0 is ready for release and is synchronized now. Whenever we're ready for complete releases, I'll be making new ones available in npm and bower. @Templarian hope this is alright with you.

[2017-10-01 06:53] #44 closed

[2017-10-01 07:37] #115 closed

[2017-10-01 07:37] josetaira commented on #115
Should be included in the latest master, and will be in the v1.0.1 release

[2017-10-01 09:53] #114 closed

[2017-10-01 09:54] josetaira commented on #110
See https://github.com/Templarian/ui.bootstrap.contextMenu#events

[2017-10-01 09:54] #110 closed

[2017-10-01 09:55] josetaira commented on #114
See https://github.com/Templarian/ui.bootstrap.contextMenu#events

[2017-10-02 12:25] RogerMito commented on #117
Hello Friend.
I've already figured it out.
The contents of the context menu are obtained through AJAX calls.
However, I can not delay rendering, and whenever I select an item, the menu contents refer to the last selected variable. That is, in order for me to get the correct content for the current item, I must double-click that item.
How could you get around this problem?

Thank you.

[2017-10-02 12:37] josetaira commented on #117
Hi @RogerMito, in version v1.1 (I'll release this soon), you can now use a Promise as your `menuOptions`. So you can just do something like:

[code]

Then in your HTML something like:
[code]

You can opt to point your build to the latest commit to test this out.

[2017-10-02 21:41] augustoeliezer opened #121 "Open menu programmatically"
Please, equal this: https://github.com/Templarian/ui.bootstrap.contextMenu/issues/120 Make a way to open on left click. In my case I have a link that will open a context menu, and I need to open this by left click too.

[2017-10-03 05:28] josetaira commented on #121
It's just not documented properly, this is already supported using the `context-menu-on` property.

See the sample at: https://github.com/Templarian/ui.bootstrap.contextMenu#view

[2017-10-03 05:28] #121 closed

[2017-10-03 14:00] lafeuil opened #122 "Property text doesn't accept a function"
In the documentation, you specify that the property text of a menu can accept a string and a function :

But, when I define a function, the item have a blank text.
In the code, the function is executed only with the legacy configuration.

[2017-10-04 05:09] #122 closed

[2017-10-04 05:10] josetaira commented on #122
Thanks for reporting that @lafeuil. It should be fixed and will be in v1.1.0

[2017-10-04 07:40] lafeuil commented on #122
@josetaira, It works ! 👍
Thanks for relaunching developments on this project 😃

[2017-10-04 09:41] lafeuil opened #123 "Hide menu when it is empty"
When I create a context menu and all submenus are the displayed property to false, a small context menu is displayed with nothing.

Technically, the ul element of context menu is displayed but it contains empty li elements :
[code]
I think if a submenu have its displayed property to false, the li element should not be added to ul element.
With this, you can check if the ul element contains element

[2017-10-04 09:49] lafeuil opened #124 "Conditional divider"
With the current implementation, we can add divider in context menu by defining a null submenu.

But with the displayed property, we can hide some submenus but not the divider that precede them.

[2017-10-04 10:01] josetaira commented on #123
In general it should really show something like "No items to show" or "No items" if there are no items in that level of the context menu. This text could be configured as a passed prop. If you really wanted to not show anything for empty sub-menus you can choose to set the children as undefined/null.

On a separate note, the actual bug is that it shouldn't be adding any <li> elements.

[2017-10-04 12:38] josetaira commented on #124
Yeah, I'm actually in the process of implementing this. It's just another property in the object definition. Thinking of just a boolean/function property called "hasTopDivider". Just wondering if there are usecases for hasBottomDivider as well.

[2017-10-05 14:27] RogerMito commented on #118
Hello @josetaira . I'm trying to do something similar and even implemented a promisse:
[code]
rightClick send info to the selected item to obtain the new data for $scope.menuOption.

However, the context-menu directive is invoked before the data is available in $scope.menuOption.

follow my html code:
<div  ng-right-click="rightClick(x, $parent.$index, $index)" context-menu="menuOptions">
...
</di

[2017-10-05 14:45] josetaira commented on #118
Try this:
[code]

This should delay the context menu until the `deferred.resolve` is executed.

Your HTML code isn't available so I'm not sure how to help you completely.

[2017-10-05 16:05] RogerMito commented on #118
I'm sorry, I think gitHub omitted a few lines from my comment...
This is my HTML (simplified):
<div  ng-right-click="rightClick(x, $parent.$index, $index)" context-menu="menuOptions">
    [...]
</div>
I'll try what you mentioned.

[2017-10-05 16:38] Mouradif commented on #119
It works ! Thanks

[2017-10-05 18:51] RogerMito commented on #118
Hello @josetaira! I solve my problem! : D
I did not know the $q.defer( ), only $q.all( ) and $q.when( ).
Here's my code:

[code]

[2017-10-06 14:19] lafeuil opened #125 "Property enabled doesn't accept a boolean value"
In the documentation, you specify that the property enabled of a menu can accept a boolean value and a function :
enabled - [Function/Boolean] A function returning whether the option is enabled or not, or a boolean

But, when I define a boolean value, I obtain this stacktrace :
[code]

[2017-10-08 05:32] #125 closed

[2017-10-08 05:55] josetaira commented on #123
The part that prevents `<li>`  should already be checked in with https://github.com/Templarian/ui.bootstrap.contextMenu/commit/87012810e095f3847f367c159dd2f28938cd3634

[2017-10-08 07:50] #124 closed

[2017-10-08 07:51] josetaira commented on #124
Pushed and ready. The updated documentation now includes `hasTopDivider` and `hasBottomDivider`

[2017-10-09 08:02] lafeuil commented on #125
@josetaira, your fix doesn't work when item.enabled = false.
I checked the code and I have found the problem :
At line 140 : `currItemParam.enabled = resolveBoolOrFunc(item.enabled || item[2], params);`
If `enabled` is false, so `item[2]` is used as enabled value but it is undefined. So the true value is returned by the fonction.

I think, you must check if item.enabled is defined outside the reso

[2017-10-09 08:11] josetaira commented on #125
My bad. This should be fixed in https://github.com/Templarian/ui.bootstrap.contextMenu/commit/2154df7f886aae9b16f8b5069db29e5455ada309

Thanks for testing it out!

[2017-10-10 07:38] lafeuil commented on #123
Do you think it is possible to add an option to configure the text of the item that appears when all items is hide ?
Currently the message displayed is "empty".

[2017-10-10 07:47] josetaira commented on #123
Yeah, this is something I'll be adding in a while. I just put up "empty" for now as the current placeholder. Maybe just a context-menu-empty-text property

[2017-10-11 13:38] amfsyn commented on #120
Why was this closed? Is there a way to do this?

[2017-10-11 13:47] josetaira commented on #120
This isn't closed. I'm still going to work on this.

[2017-10-17 06:55] marcolazzarini opened #126 "Make 'context-menu-class' parameter apply also to nested menus"
It appears that 'context-menu-class' is applied only on first level of context menu, but submenus do not take this class and is possible to style them only via 'dropdown' class

[2017-10-17 07:32] marcolazzarini opened #127 "3d level nested menu does not work, it closed leaving 2nd level"
If I have a menu like option (i)-> nested 1 -> nested 2, when I leave second level, the third closes and it's not possible to select the desired option on 3rd level (actually, the one having the real action)

[2017-10-17 07:34] #123 closed

[2017-10-17 07:35] josetaira commented on #127
Could you provide a demo or plunker for this? Thanks

[2017-10-17 07:40] #126 closed

[2017-10-17 07:43] #127 closed

[2017-10-17 07:43] josetaira commented on #127
Nevermind, it's actually just a simple fix. Should be ready in the latest master and will be in 1.1.0

[2017-10-17 07:44] marcolazzarini commented on #127
Thanks, when 1.1.0 will be ready?

[2017-10-17 08:02] josetaira commented on #127
It should be ready now. I just released v1.1.0

[2017-10-17 08:09] marcolazzarini commented on #127
thanks a lot, very good work! Just a note: documentation appears broken on github project page

[2017-10-17 13:00] josetaira commented on #5
This is already included in v1.1.0

[2017-10-17 13:00] #5 closed

[2017-11-01 09:17] faizalpribadi opened #128 "dynamic text"
are there mechanism to change dynamically of text name from context menu options ?

ping @Templarian , @josetaira

[2017-11-06 09:34] v1r0x opened #129 "New version on npm"
Thanks for the new release. Like the new implementation! :)
I wanted to install the latest version using npm, but the latest npm version is still 0.9.9. Is this on purpose or is it supposed to be on 1.1.0?

[2017-11-07 02:01] josetaira commented on #129
Thanks for reporting this. Turns out, I didn't have permission to perform the publish. But I've got it now and 1.1.0 is now available in NPM.

[2017-11-07 02:01] #129 closed

[2017-11-07 02:03] josetaira commented on #128
Put in a function in the "text" property. This is in the documentation.

[2017-11-07 02:03] #128 closed

[2017-11-07 08:06] v1r0x commented on #129
Thanks, that's great news :)

[2017-11-13 09:25] lafeuil opened #130 "Add css class on dropdown item"
Currently, when we configured an item with text attribute, a `<a>` tag is created with `dropdown-item` css class.

Could you add a new property `cssClass` to add some other class on this `<a>` tag ? This new property could accept a text or function.

This feature can solve some others demands like displaying an icon on dropdown item #21.

Before :
[code]
After :
[code]

[2017-11-29 14:09] digibum opened #131 "$itemScope does not contains ng-repeat item (model)"
When click on menu item accours, none of the params contains my ng-repeat item.

`click: function ($itemScope, $event, modelValue, text, $li) {
                        $scope.selected = $itemScope.item.name;
                    }`

[2018-01-25 12:41] ranliveh opened #133 "context-menu-empty-text not working"
Attribute **context-menu-empty-text** is not working, showing empty ever

[2018-02-19 10:01] dilipshelake03 opened #134 "Context menu menu options cut off at bottom of the window in internet explorer 11."
I am using "ui.bootstrap.contextMenu" for showing context menu on "right click" .

While working on internet explorer 11, if we reach to the bottom of the window & try to show context menu
by "right click" then its get cut off at bottom side.

Only first 2 menu options are showing and remaining options containing sub-menu options are not visible.
I am facing this issue for internet explorer 11 onl

[2018-03-19 01:19] mastersonmike commented on #133
I had the same issue and I found a simple workaround is to not put a string literal but some variable to be evaluated in the option:
instead of: <div context-menu-empty-text="No options available" other_options...>
do this: <div context-menu-empty-text="grid.appScope.myEmptyText" other_options...>

then just define the myEmptyText in your grid controller.

The problem seems to be the use of $scope

[2018-03-22 02:16] rushabhshah341 opened #135 "with Phantomjs adding the module crashes the application. shows karma unit failed."
![image](https://user-images.githubusercontent.com/6440932/37746588-5cc32390-2d51-11e8-8943-a0a4776a7f27.png)

![image](https://user-images.githubusercontent.com/6440932/37746664-b4d402ac-2d51-11e8-9e01-aba8470938cf.png)

[2018-04-03 05:40] KuroNoDev opened #136 "Adjust top position of nested menus if its height will exceed the window"
The nested context menu's position is a little bit too high on this particular occasion

<img width="664" alt="screen shot 2018-04-03 at 1 29 49 pm" src="https://user-images.githubusercontent.com/11919797/38231162-e3dbf950-3743-11e8-86a0-0ab225921474.png">

[2018-05-25 19:05] danielKatagiri opened #137 "contextMenu with bootstrap"
I have struggled a little to get a satisfactory visual result when using the 'enabled: false' property.
From what I understood, the original code add the 'disabled' class on the `<li>` tag, but bootstrap 4 works better when this class is added to the `<a>` tag.

So I changed the contextMenu.js at the line 558:
from
`$li.addClass('disabled');`
to
`$li.children().addClass('disabled');`

Once inside

[2018-07-24 21:00] drichard1989 opened #139 "Conditionally load the context menu"
So, right now, there is an empty text attribute, but would it be possible for an attribute to be added in order to load a context menu at all? We are trying to if a variable if false, not load context-menu at all by using ng-attr, but with no luck. Maybe have context-menu-enabled and let a conditional be put in there to be evaluated and if false, not load it at all? That way we don't have it load

[2018-07-25 07:17] hieutranagi47 opened #140 "Compile html string to use a custom directive in the html string"
Hello,

I would like to contribute a little bit of code to help user can use their custom directive  in html string in an item similar:
[code]
But currently I can not execute my custom click2uploadFile directive when I click on "Upload files" item.
Thanks in advance!

[2018-07-31 06:08] zamb3zi commented on #139
This used to work (see #11) but now we're getting the 'empty' menu when returning `[]` or `undefined`.
I've had to work around this by modifying around lines 610 to only do the `$broadcast` and `renderContextMenu` if `promisedMenu` is truthey.

[2018-08-09 17:07] dwightkelly opened #143 "nested menu obscures parent when menu would overflow right edge of window"
The nested menu is rendered on top of its parent when the parent menu is positioned towards the right edge of window. This makes it impossible to close the nested menu unless you close the entire menu and reopen.

[2018-10-18 17:14] #140 closed

[2018-11-12 17:56] lucasprograms commented on #105
@josetaira I am wondering the same thing. The use case would be if you had some functionality that required the menu to remain open on click. e.g., editing the name of something inline (menu-item text becomes an input)

[2018-11-13 16:14] josetaira commented on #105
Seems like a valid use-case. Reopening this. @lucasprograms or anyone, if you would like to submit a PR, please free to do so. It'll be some time before I can get back to working on this.

[2019-01-17 09:49] KennethVerbeure commented on #134
Same issue here.... year later... is someone still looking at this project?

[2019-02-28 07:33] rannie-peralta opened #147 "context-menu-class does not remove after it is closed"
I add a custom class `.help-context-menu` using `context-menu-class` attribute to apply a custom style to it. But, after closing it and open other context menu, the custom class `.help-context-menu` was still there.

[2019-03-19 07:01] DukaN commented on #134
You could replace
`var winHeight = window.scrollY + event.view.innerHeight;`

To:
`var winHeight = document.documentElement.scrollTop + event.view.innerHeight;`

Its working fine

[2019-03-22 07:07] KennethVerbeure commented on #134
ye its what i did, i forgot i had this open

[2020-04-08 17:12] tgibson1 opened #150 "clickFunction always null"
? item.click
                                    : (angular.isFunction(item[1])
                                        ? item[1]
                                        : null);

                                if (clickFunction) {
                                    var res = clickFunction.call($scope, $scope, event, modelValue, text, $li);
                                    if (res === undefin

[2020-04-22 00:19] #150 closed, assigned to nobody

[2020-04-22 00:20] tgibson1 commented on #150
issue was due to passing menu options using interpolation

wrong way: context-menu={{menuOptions}}
correct way:context-menu=menuOptions

[2020-10-07 05:07] #136 closed

[2021-03-02 09:30] bartcorremans commented on #139
For anyone who might come across this in the future: You can use the following hack to ensure that the menu never appears if it only contains the default 'empty' option.

[code]